<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hr.pereless"
    android:installLocation="preferExternal">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".application.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:required="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:exported="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.job.CreateJobActivity"/>
        <activity
            android:name=".activities.schedule.CreateScheduleActivity" />
        <activity android:name=".activities.candidate.TeamScorecardDetailActivity" />
        <activity android:name=".activities.setting.TermsConditionActivity" />
        <activity android:name=".activities.setting.NotificationSettingActivity" />
        <activity android:name=".activities.setting.EditProfileActivity" />
        <activity android:name=".activities.candidate.UpdateStoageActivity" />
        <activity android:name=".activities.candidate.CommentActivity" />
        <activity android:name=".activities.schedule.ScheduleEditActivity" />
        <activity android:name=".activities.candidate.SmsActivity" />
        <activity android:name=".activities.candidate.ScoreCardActivity" />
        <activity android:name=".activities.candidate.AssignjobActivity" />
        <activity android:name=".activities.candidate.Questions" />
        <activity android:name=".activities.candidate.EEOActivity" />
        <activity android:name=".activities.candidate.CandidateScheduleone" />
        <activity android:name=".activities.job.JobStatusActivity" />
        <activity android:name=".activities.job.JobHiringStatusActivity" />
        <activity
            android:name=".adapter.reporter.TableviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.report.ReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.onboarding.OnBoardingTaskActivity"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.email.EmailSendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragment.schedule.ScheduleBasicActivity"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".activities.candidate.CandidateDetailActivity"
            android:configChanges="keyboardHidden|screenSize|smallestScreenSize|screenLayout|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activities.job.JobDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.auth.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.auth.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.auth.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>